.body {
  background-color: pink;
  color: #ffffff;
}
.header {
  text-align: center;
  background-color: rgb(182, 121, 9);
  color: yellow;
}

.first-section {
  background-color: rgb(46, 28, 209);
}
.second-section {
  background-color: rgb(13, 107, 13);
}
.article {
  background-color: black;
}
.h2-first-section {
  color: #939699;
  text-align: center;
  background-color: rgb(46, 28, 209);
}
.h2-second-section {
  color: #939699;
  text-align: center;
  background-color: rgb(13, 107, 13);
}
.h4-first-section {
  color: #861109;
  text-align: left;
}
.h4-second-section {
  color: #861109;
  text-align: left;
}
.p-first-section {
  text-align: left;
  background-color: grey;
}
.p-second-section {
  text-align: left;
  background-color: rgb(68, 65, 65);
}
.footer {
  background-color: black;
  font-size: 40px;
  color: rgb(198, 240, 14);
  text-align: center;
}
.navigation-bar {
  background-color: #9883e5;
  width:100%;
  min-height: 10px;
  margin: 1px, 0px, 2px, 2px;
  padding-left: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 2px solid rgb(154, 12, 12);
  position:fixed;
}
.navigation-bar__website {
  display: inline-block;
  min-width: 105px;
  min-height: 30px;
  background-color: #fcff6c;
  color: rgb(154, 12, 12);
  text-decoration: none;
  border: 1px solid red;
  padding: 2px;
  border-radius: 5px;
  margin-right: 4px;
}
.navigation-bar__website--main-website {
  border: 5px double red;
  background-color: #ffda22;
  color: rgb(253, 0, 0);
}
.h3-first-section {
  color: black;
  background-color: red;
}
.h3-second-section {
  color: black;
  background-color: red;
}
